<!--<p>{{vehicule | json}}</p>-->
<div class="row" style="background-color:#ffffffa1;">
  <div class="col-lg-6">
  <h6 class="modal-title" style="position: center;">44444</h6>
    <i class="spinner-grow spinner-grow-sm text-success font-size-10" > </i>

  <!--<div [(ngModel)]="viewVehicule"></div>-->
    <div class="row">
  <div class="col-lg-3">
  <table class="table table-centered datatable dt-responsive nowrap"
         style="border-collapse: collapse; border-spacing: 0; width: 100%;" id="tabMission">
    <thead class="thead-light">
    <tr>
      <td ><b>Registration Number</b></td>
      <td> </td>
    </tr>
    <tr>
      <td><b>Conducteur</b></td>
      <td> </td>
    </tr>

    <tr>
      <td><b>Description</b></td>
      <td></td>
    </tr>
    <tr>
      <td><b>Device</b></td>
      <td></td>
    </tr>

    <tr>
      <td><b>Entité </b></td>
      <td> </td>
    </tr>
    <tr>
      <td><b>Actions</b></td>
      <td style="cursor: pointer"><img src="./assets/icons/map-icon/delivery.png" /></td>
      <td >Historique</td>
    </tr>
    </thead>
    <tbody>

    </tbody>
  </table>


  </div>
</div>
</div>
</div>



