<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">List Des véhicules</mat-card-title>
  </mat-card-header>
  <dx-data-grid
    id="gridContainer"
    [dataSource]="dataSource"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    [remoteOperations]="false"
    [showBorders]="true"
    (onContentReady)="contentReady($event)"

  >
    <dxo-paging
      [pageSize]="pagingOptions.pageSize"
      [pageIndex]="pagingOptions.currentPage"
      (pageIndexChange)="loadDataIndexChange($event)"
      (pageSizeChange)="loadDataSizeChange($event)">
    </dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"

      [allowedPageSizes]="[10, 25, 50, 100]"
    ></dxo-pager>
    <dxo-editing
      mode="row"
      [allowAdding]="true"
      [allowUpdating]="true"
      [allowDeleting]="true"
    >
    </dxo-editing>
    <dxo-search-panel
      [visible]="true"
      [highlightCaseSensitive]="true"
    ></dxo-search-panel>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-filter-panel [visible]="true"></dxo-filter-panel>
    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
    <dxo-filter-row [visible]="true" [applyFilter]="'contains'"></dxo-filter-row>
    <dxi-column dataField="registrationNumber"  alignment="center" dataType="string" caption="Matricule" title="Matricule" ></dxi-column>
    <dxi-column dataField="vehicleModel.vehicleBrands.vehicleBrand" dataType="string" caption="Type Moyen"   alignment="center"></dxi-column>
    <dxi-column
      dataField="vehiculeMaxVitesse"
      caption="vehicule Max Vitesse"
      dataType="number"
      alignment="center"

    ></dxi-column>


    <dxi-column dataField="device.deviceID" dataType="string" caption="Device ID" alignment="center"></dxi-column>

  </dx-data-grid>

  <mat-card-content class="b-t-1">

  </mat-card-content>
</mat-card>
